$danger-color: #dc6363;
$default-color: #f3f7fc;
// $main-color: #01253f;
$main-color: #1a2738;
$success-color: #3367d6;
// $inputs-color: #e7d6f7;
$inputs-color: #f3f7fc;
$font-color: #4f5c6b;
$font-family: "Roboto", Condensed, sans-serif;
$font-size: .875em;
$font-weight-default-bolder: 700;
$border-radius: 4px;

//Buttons
$font-weight-buttons: 300;
$font-size-button: 1em;

// Headers e labels
$font-weight-labels: 400;

//Input
$font-weight-input-bolder: 400;
$font-size-input: .875em;

// Placeholder
$font-weight-placeholder-bolder: 400;
$font-size-placeholder: .875em;
